.welcome {
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 1100px;
}
.welcome-content {
  padding-top: 350px;
}
.welcome-content>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#mouse-click {
  margin-top: 200px;
}
.welcome-content>h1 {
  margin-top: 75px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
}
.welcome-content>h5 {
  color: white;
  text-align: center;
}
.about {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.services {
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.section {
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}
.tasks {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.portfolio {
  text-align: center;
  margin-bottom: 100px;
}
.row1 {
  display: flex;
  justify-content: center;
}
.row1>img {
  margin-right: 30px;
  margin-top: 50px;
}
.contact {
  height: 682px;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}
form{
  background-color: transparent;
}
::placeholder{
  color: white;
  margin-top: 0;
  padding-top: 0;
}
input[type=text], [type=email]{
  border: 1px solid white;
  margin-top: 20px;
  color: white;
}
#comment {
  height: 300px;
}
.follow {
  margin-top: 30px;
  margin-bottom: 30px;justify-content: center;
  display: flex;
}
.follow>img{
  margin-left: 15px;
}
.footer {
  text-align: center;
}
#design-text, #development-text, #management-text {
  display: none;
}